*{
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
}

#myVideo{
    position: relative;
    top: -135px;

}

.title-sub{
    font-size: 5.3rem;
    font-weight: bold;
}
.title img{
    width: 45%;
}
.event-box{
    background-color: #b0afe4;
}
.event-box h2{
    font-weight: bold;
}